@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&family=Poppins:wght@500;600&family=Preahvihear&display=swap');

:root {
    --bg: #11071F;
    --second-bg: #1A0B2E;
    --main: #FFFFFF;
    --accent: #7127BA;
}

body {
    background-color: var(--bg);
}

.visibility-hidden {
    display: none;
}

.navigation {
    /* padding: 37px 1px; */
    padding: 48px 0 26px;
    background-color: var(--second-bg);
}

.nav-item {
    margin-right: 168px;
}

.navbar-brand {
    padding-left: 20px;
    width: 614px;
}

.nav-link {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--main);
}

.hero {
    margin-top: 140px;
    font-family: 'Preahvihear', sans-serif;
    color: var(--main);
}

.avatar {
    /* text-align: center;
    position: relative;
    background-image: url("img/avatar-bg-gradient.png");
    background-size: contain;
    background-repeat: no-repeat; */
}

.avatar::before {
    content: url("img/avatar-bg-gradient.png");
    position: absolute;
    z-index: -1;
    left: 250px;
}

.avatar-img {
    margin-top: 23%;
    width: 258px;
}

.text-wrap {
    position: absolute;
    left: 29.5%;
}

.name {
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 19px;
    line-height: 511%;

    letter-spacing: -0.5px;

}

.name::before {
    content: url("img/Arrow.png");
    position: absolute;
    /* left: 377px; */
    /* left: 35%; */
    height: 100px;
    left: calc(-5vw);
    top: 10px;
}

.speciality {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-decoration-color: #ffffff3a !important;
}

.hero-title,
.about-title {
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--main);
    position: relative;
}

.accent {
    color: var(--accent);
}

.hero-title>.accent::after {
    content: " ";
    position: absolute;
    width: 180px;
    height: 58px;
    /* left: 70px; */
    left: 34%;
    border: 1px solid var(--main);
    transform: rotate(-4.74deg);
    border-radius: 50%;
}

.hero-text {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.about {
    margin-top: 96px;
    color: var(--main);
    font-family: 'Preahvihear', sans-serif;
}

.about-title {
    line-height: 90px;
}

.about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    align-items: center;
    letter-spacing: 0.02em;
}

.about-text>.accent {
    color: #1877F2;
    text-decoration: none;
}

.fb-icon::before {
    background-color: white;
    border-radius: 100%;
}

.about-disciption {
    margin-top: 70px;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    align-items: center;
    letter-spacing: 0.02em;
}

.works {
    color: var(--main);
    padding-top: 170px;
    padding-bottom: 65px;
    background-image: url("img/avatar-bg-gradient.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.works-title {
    font-family: 'Preahvihear', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 72px;
    align-items: center;
    letter-spacing: 0.02em;
}

.works-list {
    margin-top: 44px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    justify-content: space-around;
}

.works-item {
    /* padding: 8px 42px; */
    padding-left: 50px;
    /* width: 570px; */
    margin-right: 20px;
    background: linear-gradient(110.49deg, #130428 19.95%, #251043 67.64%, #38126D 107.08%, #261045 156.61%, #190634 183.21%);
    box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    border-top: 2px solid #4F228D;
}

.work-item-wrap {
    margin: 36px 0 41px;
}

.works-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}

.work-item-text {
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
}

.work-img {
    width: 115px;
    margin-right: 25px;
}

.work-button {
    background: #2C1250;
    border: 1px solid #693B93;
    border-radius: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: var(--main);
    text-align: center;
    padding: 10px 21px;
}

.functional {
    margin-top: 95px;
    text-align: center;
    color: var(--main);
    font-family: 'Preahvihear', sans-serif;
}

.functional-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 129%;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

.functional-text-second {
    font-size: 17px;
}

.functional-list {
    /* margin-top: 32px; */
    margin-top: 10px;
    position: relative;
    top: 18px;
    list-style: none;
    justify-content: space-around;
}

.functional-item {
    width: 44px;
    height: 44px;
    padding: 8px 0;
    margin-right: 15px;
    background: #251C31;
    border-radius: 50%;
}

.functional-item>img {
    mix-blend-mode: lighten
}

.functional-bg {
    position: relative;
    top: -130px;
    /* width: 895px; */
}

.examples {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #CCD6F6;
    align-items: center;
    padding-top: 61px;
}

.example-item::before {
    top: -30px;
    left: 51%;
    position: absolute;
    content: url('img/avatar-bg-gradient.png');
    transform: scale(1.5);
}

.example-item::after {
    top: -30px;
    left: 42%;
    position: absolute;
    content: url('img/avatar-bg-gradient.png');
    transform: scale(1.5);
    z-index: -1;
}

.examples-list {
    list-style: none;
}

.example-item,
.example-item-second {
    /* background-image: url('img/avatar-bg-gradient.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%; */
    /* padding-top: 150px; */
}

.example-item-second {
    margin-top: 227px;
    position: relative;
}

.example-item-second::before {
    top: -60px;
    left: -10%;
    position: absolute;
    content: url('img/avatar-bg-gradient.png');
    transform: scale(1.5);
}

.examples-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: 0.02em;
}

.examples-text {
    margin-top: 30px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 28px 42px;
    background: url(.png), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    border-radius: 14px;
    position: relative;
    z-index: 10;
}

.examples-text-second {
    position: relative;
    left: -140px;
}

.example-img,
.example-img-second {
    position: relative;
    width: 582px !important;
    left: -100px;
    background: #2B0B3A;
    border-radius: 10px;
    padding: 30px 0 0 45px;
    /* z-index: -1; */
}

.example-img-second {
    padding: 30px 45px 0 0;
    left: -55px;
}

.footer {
    font-family: 'Preahvihear';
    color: var(--main);
    margin-top: 234px;
    padding-bottom: 219px;
}

.footer-title {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.02em;
}

.footer-text,
.footer-mail {
    margin-top: 73px;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.02em;
}

.footer-text {
    margin-bottom: 30px;
}

.footer-mail {
    text-decoration: none;
    color: var(--main);
}

.social {
    list-style: none;
    display: flex;
    margin-top: 31px;
    margin-bottom: 0;
    color: var(--main);
}

.social-icon-wrap {
    margin-right: 27px;
}

.social-icon {
    color: var(--main);
}

@media only screen and (max-width: 1800px) {
    .hero-title>.accent::after {
        left: 39%;
    }
}

@media only screen and (max-width: 1700px) {
    .hero-title>.accent::after {
        left: 19%;
    }
}

@media only screen and (max-width: 1500px) {

    .avatar::before {
        left: 50px;
    }

    .hero-title>.accent::after {
        left: 22%;
    }

    .works-item {
        /* width: auto; */
        text-align: center;
    }

    .examples-text-wrap,
    .examples-text-second {
        width: 80%;
    }

    .example-item::after {
        content: none;
    }

    .example-item::before {
        top: 150px;
    }

    .footer {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 1300px) {
    .nav-item {
        margin-right: auto;
    }

    .navbar-brand {
        width: auto;
    }

    .hero-title>.accent::after {
        content: none;
    }

    .examples-text-second {
        left: 0;
    }

}

@media only screen and (max-width: 1000px) {

    .text-wrap {
        position: absolute;
        left: 39.5%;
    }

    .example-item::before {
        content: none;
    }

}

@media only screen and (max-width: 800px) {
    .name::before {
        content: none;
    }

    .hero-title>.accent::after {
        content: none;
    }

    .text-wrap {
        position: relative;
        left: 0;
    }

    .example-img-second {
        left: 0;
        margin-top: 20px;
    }

    .example-img {
        left: 0;
    }

    .example-item-second {
        margin-top: 80px;
    }

    .examples-text-wrap,
    .examples-text-second {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    .works-item {
        /* width: auto; */
        text-align: left;
    }

    .avatar::before {
        content: none;
    }

    .example-item-second::before {
        content: none;
    }

    .nav-item {
        margin-right: 0;
    }

    .examples-text-second {
        left: 10px;
    }

    .hero {
        margin-top: 30px;
    }

    .work-img {
        margin-bottom: 20px;
    }

    .functional {
        margin-top: 50px;
    }

    .examples-text {
        padding: 10px;
    }

}

@media only screen and (max-width: 400px) {

    .functional-lines {
        display: none !important;
    }

    .functional-bg {
        top: 30px;
    }

    .about-title {
        line-height: 60px;
    }

    .hero-title {
        font-size: 40px;
        line-height: 43px;
    }
}


@media only screen and (max-width: 300px) {

    .avatar-img {
        position: relative;
        top: 0;
        left: 0;
    }

    .hero-title {
        font-size: 40px;
    }
}